body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: fantasy;
    text-align: center;
    background-image: url(img/pitch.background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    justify-content:flex-end;
    position: absolute;
    display: flex;
    color: #F0AC0D;
    background:none;
    width: 350px;
    font-size: 80px;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;

}
.playerStats {
    text-align: center;
    justify-content: flex-end;
    display: flexbox;
    width:150px;
    padding: 90px;
    color: #F0AC0D;
    font-weight: 800px;
    border: 3px solid #fff;
    background: radial-gradient(grey, black) ;
    margin-left: 1050px;
    margin-top: 50px;

    
}

.playerStats span{
    color: red;
    font-weight: bold;
    font-size: 80px;
}




#gameContainer {
    width: 600px;
    height: 700px;
    background-image:url(img/pitch\ gamecontainer.jpeg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 3px solid #fff;

}



#player {
    width: 150px;
    height: 150px;
    position: absolute;
    background-image:url(./img/harry_maguire_manchester_united_premier_league_eng_by_uniqrenders_dfofn3g-fullview-removebg-preview.png) ;   bottom: 0;
    left: 0;
    background-size: cover;
}



.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(img/png-transparent-football-cricket-balls-ball-white-sports-equipment-sports-thumbnail-removebg-preview.png);
    background-size:cover;
    position: absolute;
    top:0;
    left: 0;
}



.button-container{
    text-align: right;
    flex-direction: row;
    padding: 50px;
    margin-right: 100px;

}

#resetButton{

    background-color: black;
    color: white;
    font-weight: 30px;
    padding: 30px;
    
}

/* Add this to your CSS file or inside <style> tags in the head of your HTML */
#gameOverModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
