body{
    width: auto;
    height: auto;
    text-align: center;
}

h1{
    text-align: left;
    display: flexbox;
    color: blue;
}

.playerStats {
    text-align: right;
    display: grid;

}


#gameContainer {
    width: 600px;
    height: 700px;
    background-color: burlywood;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}



#player {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: brown;
    position: absolute;
    background-image: url(img/harry_maguire_manchester_united_premier_league_eng_by_uniqrenders_dfofn3g-fullview.jpeg);
    bottom: 0;
    left: 0;
}


.button-container{
    text-align: right;
    flex-direction: row;
}